img {
    width: 500px;
    display: block;
    margin-bottom: 40px;
}
div {
    margin: 40px auto;
    width: 70%;

}

hr {
    width: 400px;
    margin: 25px 0;
}
/* styling the buttom selector */
button{
    width: 160px;
    font-size: 15px;
    height: 45px; 
    border-radius: 5px;
}
button:hover {
    cursor: pointer;
}
input {
    width: 200px;
    font-size: 15px;
    padding: 10px;
}
/* hidden edit view by default */
#edit-view {
    display: none;
}